{% extends 'classification/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>ライトノベル分類器</h1>

            <form id="text" method="POST" action="/classification/sample/" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleTextarea">小説を貼り付けてください</label>
                    <textarea class="form-control" name="message" id="exampleTextarea" rows="20"></textarea>
                </div>
                <button class="btn-primary btn" type="submit">分類</button>
            </form>

            <h2 id="answer">この小説は({{ answer }})に分類されます。</h2>
        </div>
    </div>
</div>
{% endblock content %}
